.caixa{
    background-color: blue;
    width:50%;
    margin:5%;
    color:white;
    text-align: center;
    border-radius: 10px;
}

@media(max-width: 600px){
    .caixa{
        background-color: aqua;
    }
}